.expInputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
}

.expInputContainer > * {
    margin: 0;
}

.expInputContainer > p {
    font-size: 26px;
    margin-bottom: 10px;
}

.expInputContainer > h3 {
    font-size: 26px;
}

.expInput {
    width: 300px;
    height: 40px;
    font-size: 18px;
    margin-bottom: 10px;
}

.expButton {
    width: 310px;
    height: 40px;
    font-size: 18px;
    margin-bottom: 20px;
}

.info {
    font-size: 20px;
    color: crimson;
}